.login-section{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.login-form{
    box-shadow: 0px 0px 5px 2px rgb(219, 219, 219);
    height: 600px;
    width: 600px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    padding: 50px;
}
.input-div{
    box-shadow: 5px 5px rgb(31, 31, 31);
    width: 500px;
    padding: 10px;
    height: 400px;
    
}
.input-div input{
    size: 50px;
    padding: 10px;
    font-size: 15px;
}
.input-div button{
    padding: 10px 100px 10px 100px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    border-style: none;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}
.input-div a{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: lighter;
    color: black;
    font-size: 20px;
}
.signup-form{
    box-shadow: 0px 0px 5px 2px rgb(219, 219, 219);
    height: 800px;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    padding: 50px;
}
.input-div-signup{
    box-shadow: 5px 5px rgb(31, 31, 31);
    width: 500px;
    padding: 10px;
    height: 600px;
    
}
.input-div-signup input{
    size: 50px;
    padding: 10px;
    font-size: 15px;
}
.input-div-signup button{
    padding: 10px 100px 10px 100px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    border-style: none;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}
.input-div-signup a{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: lighter;
    color: black;
    font-size: 20px;
}
.login-form a:hover,.signup-form a:hover{
    color: gray;
}
@media (max-width:800px){
    .login-form,.signup-form{
        width: 400px;
    }
    .input-div, .input-div-signup{
        width: 300px;
    }
    .input-div input{
        size: 30px;
    }   
}
@media (max-width:800px){
      .login-form,.signup-form{
        width: 350px;
        padding: 15px;
    }
}